.line{
    width: 1px;
    height: 70px;
}
.lastLine{
    display: none;
}
@media (max-width:700px) {
    .content{
       display: flex;
       flex-direction: column;
    }
   .line{
    width: 250px;
    height: 1px;
    margin: 40px auto;
   }
    .containerDiv{
        margin: auto;
    }
    .lastLine{
        display: block;
    }
}