/* Home.css */

/* General Styles */
.container {
    margin: 0 auto;
    padding: 20px;
  }
  
  .btn {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .fa-solid.fa-arrow-right {
    margin-left: 8px;
  }
  
  /* Carousel Section */
  .carousel-container {
    height: 350px;
    background: #F2F4F5;
  }
  
  .carousel-slide {
    display: flex;
    align-items: center;
    min-height: 470px;
  }
  
  .carousel-content {
    background: #F2F4F5;
    padding: 20px;
    position: relative;
    width: 50%;
  }
  
  .carousel-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header-line {
    width: 20px;
    height: 2px;
    background-color: #2484C2;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  
  .carousel-image-wrapper {
    position: relative;
    width: 50%;
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
  }
  
  .price-tag {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: #2DA5F3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
  }
  
  /* Sidebar Section */
  .sidebar-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .sale-banner {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 20px;
    position: relative;
    margin-bottom: 15px;
  }
  
  .sale-content {
    width: 100%;
    text-align: center;
  }
  
  .sale-title {
    color: #EBC80C;
  }
  
  .sale-description {
    margin: 20px 0;
  }
  
  .sale-image-wrapper {
    position: relative;
  }
  
  .discount-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #EFD33D;
    color: black;
    padding: 5px 15px;
    border-radius: 3px;
    font-weight: bold;
  }
  
  .sale-image {
    width: 200px;
    height: auto;
    margin-top: 30px;
    
  }

  
  .product-highlight {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F4F5;
    padding: 20px;
  }
  
  .highlight-image {
    width: 173px;
    height: auto;
    margin-right: 20px;
  }
  
  .highlight-details {
    text-align: center;
  }
  .contents{
    display: flex;
    flex-direction: row;
}
  @media (max-width: 768px) {
    .contents{
        display: flex;
        flex-direction: column;
    }
    .carousel-content {
      width: 100%;
      position: static;
    }
  
    .carousel-image-wrapper {
      width: 100%;
      margin-top: 20px;
    }
  
    .sale-banner {
      flex-direction: column;
      align-items: center;
    }
  
    .sale-content {
      width: 100%;
    }
  
    .sale-image-wrapper {
      width: 100%;
      text-align: center;

    }
  
    .product-highlight {
      flex-direction: column;
      align-items: center;
    }
  
    .highlight-image {
      margin: 0 0 10px 0;
    }
  }
  