.register__form {
    margin: 100px auto;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.register__form-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.register__form-header-btn {
    height: 60px;
    font-size: 1.5rem;
    border: none;
    outline: none;
    font-weight: bold;
    color: #ccc;
    border-bottom: 3px solid #ccc;
    background-color: #fff;
}

.register__form-header-btn.active {
    color: #000;
    border-color: orange;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 20px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.field__label {
    font-weight: bold;
    color: #444;
    text-transform: uppercase;
}

.field__input {
    padding: 10px;
    border: 2px solid #ccc;
    outline: none;
    border-radius: 5px;
    transition: 100ms ease;
}

.field__input:focus {
    border-color: #333;
}

.mydiv {
    position: relative;
}

.mydiv .field__input {
    width: 100%;
}

.show__btn {
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    bottom: 7.89px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 1.2rem;
}

.forger__link {
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    font-weight: 500;
}

.terms {
    display: flex;
    align-items: center;
    gap: 5px;
}

.terms label {
    font-weight: 500;
}

.form__submit-btn {
    background-color: orange;
    color: #fff;
    padding: 15px 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    border-radius: 5px;
    gap: 10px;
    text-decoration: none;
    transition: 300ms ease;
}

.form__submit-btn:hover {
    background-color: rgb(214, 149, 28);
}

.divider {
    position: relative;
    height: 1px;
    background-color: #eee;
    margin: 10px 20px;
}

.divider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 0 10px;
    color: #aaa;
    font-size: 1.2rem;
    font-weight: bold;
}

.providers {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

.provider_btn {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #ccc;
    outline: none;
    justify-content: center;
    background-color: #fff;
    transition: 300ms ease;
}

.provider_btn:hover {
    border-color: #000;
    background-color: #eeee;
}

.provider_btn:hover>p {
    color: #000;
}

.provider_btn p {
    margin: 0;
    width: calc(100% - 25px);
    font-weight: bold;
    font-size: 1.1rem;
    color: #444;
}

.provider_btn img {
    width: 25px;
}

.checkMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.checkMessage p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
}

@media (max-width: 600px) {
    .register__form {
        width: 100%;
        margin: 50px auto;
    }
}