.firstAbout{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Main{
  min-width: 40%;
}
@media(max-width:750px){
  .firstAbout{
    display: flex;
    flex-direction: column;
  }
}

/* ................................................... */




/* session */

.main {
  text-align: center;


}

.teamMember {
  margin-top: 35px;
  margin-bottom: 50px;
  /* padding: 10px; */
  border: solid 1px #E4E7E9;
  display: flex;
}

.sessionHeader {
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 32px;
  color: #191C1F;
  ;
}

.sessionHeader1 {
  margin-top: 150px;
  margin-bottom: 35px;
  font-size: 32px;
  color: #191C1F;

}

.sessionSpan {
  font-size: 17px;
  color: #475156;
  margin: 0px;

}

.content {
  margin: 0px;
}

@media (max-width: 768px) {
  .teamMember {
      flex-direction: row; 
  }

  .sessionImg img {
      width: 60px; 
      height: 60px; 
  }

  h5.sessionHeader {
      font-size: 16px; 
  }

  span.sessionSpan {
      font-size: 12px;
  }
}





/* lastsession   products */

.productsMain {
  margin-top: 60px;
  padding: 30px;
}

.products {
  border: solid 1px #E4E7E9;
  display: flex;
  margin-top: 15px;
  margin-bottom: 50px;

}

.productsHeader {
  color: #191C1F;
  font-size: 25px;
  /* margin-top: 1000px; */
}

.productsSpan {
  color: #191C1F;
  size: 14px
}

.productsPrice {
  margin-top: 9px;
  font-size: 20px;
  color: #2DA5F3;

}
.bannerBackground{
  min-height: 400px;
  background-image: url('/public/Images/BannerBgImage.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
