.search-results {
    position: absolute;
    top: 100%; /* Position below the input */
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto; /* Scroll if results exceed max height */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    z-index: 1000; 
   /* Ensure it appears above other elements */
  }

.li{
  display: flex;

}
.search__field{
    position: relative;
}
.search-result-item{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    cursor: pointer;
   
}